img {
    padding: 10px;
}

#jio-image {
    padding: 24px;
}

#iit-image {
    padding: 24px;
}

.img-fluid {
    width: 150px;
}

.img-fluid:hover {
    width: 180px;
}

.exprience-info {
    text-align: justify;
}