#nabnarId {
    padding: 0 0 0 110px;
}

.navbar-nav > li > a {
    display: block;
    text-transform: uppercase;
    color: white;
    padding: 20px;
}

.navbar-nav > li:first-child {
    background-color: rgb(255, 208, 0);
}

.navbar-nav > li:nth-child(2) {
    background-color: rgb(255, 153, 0);
}

.navbar-nav > li:nth-child(3) {
    background-color: rgb(255, 123, 0);
}

.navbar-nav > li:nth-child(4) {
    background-color: rgb(255, 103, 0);
}

.navbar-nav > li:nth-child(5) {
    background-color: rgb(255, 83, 0);
}

.navbar-nav > li:nth-child(6) {
    background-color: rgb(255, 63, 0);
}

.navbar-nav > li:nth-child(7) {
    background-color: rgb(255, 43, 0);
}

.nav-link:hover {
    font-size: 20px;
    background-color: red;
}